<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pospointe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pospointe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pospointe.Properties.Settings>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReceiptOption" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiptPrinter" serializeAs="String">
                <value>Microsoft Print to PDF</value>
            </setting>
            <setting name="CustomerDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CDisplayID" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultCashDrawer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowShiftCloseReport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BatchCloseonShiftEnd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KitchenPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="HoldPrinter" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="MarketPrinter" serializeAs="String">
                <value />
            </setting>
            <setting name="KitchenPrinter2" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomerDisplayIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowVoidedItems" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TurnonHold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PaxIP" serializeAs="String">
                <value />
            </setting>
            <setting name="PaxPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ComType" serializeAs="String">
                <value />
            </setting>
            <setting name="ReqTip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PAXCustomerDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaxComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="PaxBaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="PaxAutoFix" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckNo" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="Btn1Tag" serializeAs="String">
                <value>XITEM:BAKLAVA</value>
            </setting>
            <setting name="Btn2Tag" serializeAs="String">
                <value>XDEPT:Drinks</value>
            </setting>
            <setting name="Btn3Tag" serializeAs="String">
                <value>XITEM:White Sauce (14.5oz)</value>
            </setting>
            <setting name="MarketOrders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTipPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeepKot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlineOrdersEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CashDrawerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsKeepKOTEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Pospointe.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Pospointe.Properties.Settings>
            <setting name="DubugErrors" serializeAs="String">
                <value>True</value>
            </setting>
        </Pospointe.Properties.Settings>
    </applicationSettings>
</configuration>